body {
  text-align: center;
  
  
  background-image: url(jernej-graj-8DP3AFexc6M-unsplash.jpg);
  /*<span>Photo by <a href="https://unsplash.com/@jernejgraj?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Jernej Graj</a> on <a href="https://unsplash.com/collections/10852310/party?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>*/
background-size: 100% ;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{color: yellow;}